<div class='product'>

  <div class='product-logo'>
    <div>
      <span>
    <% if link.nil? %>
      <%= image_tag image %>
    <% else %>
      <% link_to link do %>
        <%= image_tag image %>
      <% end %>
    <% end %>
      </span>
    </div>
  </div>

  <div class='product-separator <%= 'coming-soon' if link.nil? %>'></div>

  <div class='product-description <%= 'coming-soon' if link.nil? %>'>
    <%= description %>
  </div>

</div>